@import "Shared.scss";

#contact {
    /* What the Hex from  Toptal Subtle Patterns
     * at https://www.toptal.com/designers/subtlepatterns/what-the-hex/
     * by Angel Micevski*/
    @include setMain(transparent);
    font-family: $contactFont;
    background-image: url("../assets/hex.png");
    animation: moveDiag 10s linear infinite;
}

@keyframes moveDiag {
    from {background-position: top left;}
    to {background-position: bottom right;}
}

.contactCenter {
    position: absolute;
    left: 50% !important;
}

.input-field.col label {
    left: 0;
}

#contactContent {
    @include transformXY(50%, 0, -50%, -50%);
}

#contactHeader {
    text-align: center;
    @include transformXY(15%, 0, -50%, -50%);
}

#contactIntro {
    @include transformXY(25%, 0, -50%, -50%);
}

#input_3 {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 30vh;
}

#input_3::-webkit-scrollbar {
    width: 10px;
}

#input_3::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

#input_3::-webkit-scrollbar-thumb {
    background: $contactColor;
    border-radius: 5px;
}

#input_3::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.input-field input, textarea.materialize-textarea {
    border-bottom: 1px solid #121212;
}

.input-field label {
    color: #121212;
}

#contactSubmit {
    border-radius: 10px;
    color: #ECECEC;
    background-color: $contactColor;
}

.input-field label.active, input[type=text]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: $contactColor !important;
}

input[type="text"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $contactColor;
    box-shadow: 0 1px $contactColor;
}

.fail {
    display: none;
    color: $contactColor;
}

.progress {
    background-color: transparent;
}

.progress .indeterminate {
    background-color: $contactColor;
}

footer {
    position: absolute;
    bottom: 0;
    left: 35%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #contactSubmit, #contactShaker, .input-field, .input-field label {
        font-size: 1.75rem !important;
    }

    footer {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 300px) and (max-width: 768px) {
    #contactIntro {
        display: none;
    }

    footer {
        font-size: 75%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 300px) and (max-width: 900px) and (orientation: landscape) {
    #contactIntro, #contactHeader{
        display: none;
    }

    #contactSubmit, .input-field, .input-field label, .fail {
        font-size: 1rem !important;
    }

    .fail {
        display: none;
        color: $contactColor;
    }

    textarea.materialize-textarea, input[type=text] {
        height: 2.5rem !important;
        min-height: 2.5rem !important;
    }

    footer {
        font-size: 50%;
    }
}

@media (min-width: 0px) and (max-width: 300px) {
    #contactContent, #contactIntro, #contactHeader {
        display: none;
    }
}