#contact {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-image: url("../assets/hex.png");
    float: right;
    position: relative;
    display: flex;
}

.contactCenter {
    position: absolute;
    left: 50% !important;
}

.input-field.col label {
    left: 0;
}
#contactContent {
    top: 50%;
    transform: translate(-50%,-50%)
}

#input_3 {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 30vh;
}

#input_3::-webkit-scrollbar {
    width: 10px;
}

#input_3::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

#input_3::-webkit-scrollbar-thumb {
    background: #FFB2B2;
    border-radius: 5px;
}

#input_3::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.input-field input {
    border-bottom: 1px solid #121212;
}

.input-field label {
    color: #121212;
}

#contactSubmit {
    border-radius: 10px;
    color: #ECECEC;
    background-color: #FFB2B2;
}

.input-field label.active {
    color: #FFB2B2 !important;
}

input[type="text"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #FFB2B2;
    box-shadow: 0 1px #FFB2B2;
}

.fail {
    display: none;
    color: #FFB2B2;
}