@import "Shared.scss";

#home {
    /* Spiration Dark from  Toptal Subtle Patterns
     * at https://www.toptal.com/designers/subtlepatterns/spiration-dark/
     * by Monika

    background-image: url("../assets/milkey-1920.jpg");
    background-size: cover;*/
    @include setMain(transparent);
    background-color: black;
    //animation: moveDown 7s linear infinite;
}

@keyframes moveDown {
    from {background-position: top;}
    to {background-position: bottom;}
}

#homeCenter {
    color: $colorWhite;
    padding: 0;
    @include transformXY(40%, 48%, -50%, -50%);
    font-family: 'Sunflower', sans-serif;
}

#homeTitle {
    float: left;
}

.anim {
    @include setDim(100%, 100%);
    z-index: -1;
}

.typed-cursor {
    color: $colorWhite;
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
    50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink {
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
}

#homeCenter span.typed-cursor {
    font-size: 450%;
}

.typed-fade-out {
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
}

.anim {
    color: $colorWhite;
}

@media (min-width: 600px) and (max-width: 1024px) {
    #home h2 {
        font-size: 275%;
    }

    #homeCenter span.typed-cursor {
        font-size: 400%;
    }

    .anim {
        display: none;
    }
}

@media (min-width: 301px) and (max-width: 599px) {
    #home h2 {
        font-size: 200%;
        white-space: pre;
    }

    #homeCenter span.typed-cursor, .anim {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 300px) {
    .anim, #homeCenter {
        display: none;
    }
}