html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.row {
    margin-bottom: 0 !important;
}

.row .col{
    padding: 0 !important;
}

.finder {
    position: relative;
    top: 40%;
}