@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

#projects {
    height: 100vh;
}

#projectsHeader {
    display: none;
}

#projectsHeader p{
    margin: 0;
}

#projectsTopSlider {
    position: relative;
    width: 100%;
    height: 30%;
    top: 20%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#projectsTopSlider p button{
    border-radius: 10%;
}

#projectsGithub{
    color: #ffab40;
    font-size: 3vw;
    margin: 0;
}

.card, .card-title {
    color:#E10047 !important;
}

.card-title {
    color: #E1C700 !important;
}

#projectsBackTop {
    height: 60vh;
    background-color: rgba(01, 161, 193, 0.7);
    position: relative;
}

#projectsBackBot {
    height: 40vh;
    background-color: rgba(250, 250, 250, 0.7);
}

#projectsBackground {
    position: absolute;
    height: 100vh;
    z-index: 1;
    background-image: url("../assets/seigaiha-strong.png");
}

#projectsForeground {
    position: relative;
    height: 100vh;
    z-index: 2;
    background-color: transparent;
}

#projectHolder {
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#projectsStart {
    position: relative;
    top: 5%;
}

.slick-arrow {
    display: none !important;
}

@media (min-width: 900px) and (max-width: 1024px) {
    #projectHolder {
        left: 53%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 300px) and (max-width: 900px) and (orientation: landscape) {
    #projectsTopSlider {
        display: none;
    }

    #projectHolder {
        top: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}