@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import "Shared.scss";

#projects {
    font-family: $roboFont;
    height: 100vh;
}

#projectsHeader {
    display: none;
}

#projectsHeader p{
    margin: 0;
}

#projectsTopSlider {
    @include setDim(100%, 30%);
    @include transformXY(15%, 50%, -50%, -50%, relative);
    text-align: center;
}

#projectsGithub button{
    background-color: transparent;
    box-shadow: none;
}

#githubButton {
    padding: 0 !important;
    margin: 0 0.5rem !important;
    border-radius: 50% !important;
}

#projectsTopSlider h2{
    margin: 0;
}

#projectsGithub img {
    @include setDim(30px, 30px);
}
#projectsGithub, #projectsTopSlider h2 {
    color: #FA7D23 !important;
}

.card-title {
    color: $colorWhite !important;
}
.card{
    color: $colorBlack !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: #FA7D23;
}

@keyframes moveRight {
    from {background-position: left;}
    to {background-position: right;}
}

@keyframes moveLeft {
    from {background-position: right;}
    to {background-position: left;}
}

#projectsBackTop {
    /* Seigaiha Variation
     * Original from  Toptal Subtle Patterns
     * at https://www.toptal.com/designers/subtlepatterns/seigaiha/
     * by Olga Libby*/
    background-image: url("../assets/seigaiha-strong-red.png");
    height: 60vh;
    position: relative;
    /*animation: moveRight 10s linear infinite;*/
}

#projectsBackBot {
    /* Seigaiha Variation
     * Original from  Toptal Subtle Patterns
     * at https://www.toptal.com/designers/subtlepatterns/seigaiha/
     * by Olga Libby*/
    background-image: url("../assets/seigaiha-strong-white.png");
    height: 40vh;
    /*animation: moveLeft 10s linear infinite;*/
}

#projectsBackground {
    position: absolute;
    height: 100vh;
}

#projectsForeground {
    position: relative;
    height: 100vh;
    z-index: 2;
    background-color: transparent;
}

#projectHolder {
    @include transformXY(65%, 50%, -50%, -50%);
}

#projectsStart {
    position: relative;
    top: 5%;
}

.slick-arrow {
    display: none !important;
}

@media (min-width: 1025px) {
    #projectsTopSlider {
        left: -2%;
    }

    #projectHolder {
        @include transformXY(35%, 17% , 0, 0);
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    #projectHolder {
        left: 53%;
    }

    #projectsTopSlider {
        left: 0;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    #projectsTopSlider {
        top: 30%;
        left: 50%;
    }
}

@media (min-width: 300px) and (max-width: 1024px) and (orientation: portrait) {
    #projectsTopSlider {
        top: 35%;
    }

    #projectsGithub {
        font-size: 1.20rem;
    }
}

@media (min-width: 300px) and (max-width: 900px) and (orientation: landscape) {
    #projectsTopSlider {
        display: none;
    }

    #projectHolder {
        @include transformXY(50%, 50% , -50, -50);
    }

    .slick-list {
        @include setDim(265px, 265px);
        left: 50%;
        transform: translateX(-50%) !important;
    }

    .card.small {
        height: 250px;
    }
}

@media (min-width: 0px) and (max-width: 300px) {
    #projectsHeader, #projectHolder, #projectsTopSlider {
        display: none;
    }
}