@import "Shared.scss";

#skills {
    /* Sayagata Variation
     * Original from  Toptal Subtle Patterns
     * at https://www.toptal.com/designers/subtlepatterns/japanese-sayagata/
     * by Olga Libby*/
    background-image: url("../assets/sayagata-red.png");
    font-family: $ubuntuFont;
    @include setMain(transparent);
    animation: moveReverseDiag 10s linear infinite;
}

@keyframes moveReverseDiag {
    from {background-position: bottom right;}
    to {background-position: top left;}
}

#skillsTop {
    height: 0;
    position: relative;
    display: none;
}

#skillsBot {
    height: 100%;
    position: relative;
}

#left {
    width: 20%;
    height: 100%;
    @include setDim(20%, 100%);
    float: left;
}

#right {
    @include setDim(80%, 100%);
    float: right;
}

.carousel {
    @include setDim(200%, 35%);
}

.carousel .carousel-item {
    @include setPictureDim(120px, 120px);
    padding-left: 10px;
    padding-right: 10px;
}

.carousel .carousel-item img {
    transform: rotateZ(-90deg);
}

#typedBox {
    @include setDim(60%, 80%);
    background-color: black;
    transform: translateX(10%) translateY(7.5%);
    border-radius: 10px;
}

#typedHeader {
    @include setDim(100%, 10%);
    background-color: #6a6a6a;
    border-radius: 10px 10px 0 0;
    font-family: $ubuntuFont;
    text-align: center;
    position: relative;
}

#typedHeader p {
    @include transformXY(50%, 50%, -50%, -100%);
    font-size: 1.5em;
    font-family: 'Ubuntu Mono', monospace;
}

#typedBody {
    @include setDim(100%, 90%);
    font-size: 1.2rem;
    border-radius: 10px 10px 0 0;
    color: $colorWhite;
    font-family: $ubuntuFont;
    padding: 10px 10px 0 10px;
}

.typed-cursor{
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
}

#typedSpan {
    white-space: pre;
}

#resume {
    @include resume(25%, 3%);
    color: $colorWhite;
}

#resume a {color: #2DA1A1;}

#resume a:hover {
    color: #e1c700;
    cursor: pointer;
}

@media (min-width: 1500px) {
    .carousel {
        transform: translateX(20%) translateY(-40%) rotateZ(90deg);
    }
}

@media (min-width: 1300px) and (max-width: 1499px) {
    .carousel {
        transform: translateX(20%) translateY(-15%) rotateZ(90deg);
    }
}

@media (min-width: 1025px) and (max-width: 1299px) {
    .carousel {
        transform: translateX(20%) translateY(10%) rotateZ(90deg);
    }
}

@media (min-width: 300px) and (max-width: 1024px) {
    #section {
        height: 100%;
        margin: 0;
        padding-top: 15px;
        font-size: 2rem;
        text-align: center;
    }

    #left {
        @include setDim(100%, 20%);
    }

    #right {
        @include setDim(100%, 80%);
        position: relative;
    }

    #skillsTop {
        display: block;
        height: 7%;
    }

    #skillsBot {
        height: 93%;
    }
    .carousel {
        @include setDim(100%, 100%);
        transform: translateX(0);
    }

    .carousel .carousel-item, .carousel .carousel-item img {
        @include setPictureDim(110px, 110px);
    }

    .carousel .carousel-item img {
        transform: rotateZ(0deg);
    }

    #typedBox {
        @include setDim(80%, 75%);
        @include transformXY(5%, 50%, -50%, 0);
    }

    #resume {
        @include resume(10%, 6%);
    }
}

@media (min-width: 300px) and (max-width: 767px) {
    #left {
        height: 20%;
    }

    #right {
        height: 80%;
    }

    .carousel .carousel-item, .carousel .carousel-item img {
        @include setPictureDim(90px, 90px);
    }

    #typedBox {
        @include setDim(95%, 75%);
        top: 5%;
        position: absolute;
    }

    #resume {
        @include resume(5%, 6%);
    }
}

@media (min-width: 300px) and (max-width: 900px) and (orientation: landscape) {
    #skillsTop {
        display: none;
    }

    #skillsBot {
        height: 100%;
    }

    #left {
        @include setDim(20%, 100%);
        float: left;
    }

    #right {
        @include setDim(80%, 100%);
    }

    .carousel {
        @include setDim(200%, 35%);
        transform: translateX(20%) translateY(-40%) rotateZ(90deg);
    }

    .carousel .carousel-item, .carousel .carousel-item img {
        @include setPictureDim(75px, 75px);
    }

    .carousel .carousel-item img {
        transform: rotateZ(-90deg);
    }

    #typedHeader p {
        font-size: 1.3rem;
    }

    #typedBox {
        @include setDim(70%, 75%);
        @include transformXY(5%, 0, 0, 0);
    }

    #resume {
        position: absolute;
        left: 0;
    }
}

@media (min-width: 0px) and (max-width: 300px) {
    #skillsBot, #skillsTop {
        display: none;
    }
}



